Repository macrosynergy/macrosynergy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @macrosynergy/package-maintainers, @lsimonsen, @Magnus167, @rushilg99

WIP
  macrosynergy/download/__init__.py
  macrosynergy/management/constants.py
  macrosynergy/management/simulate/simulate_transaction_costs.py
Owners: @Magnus167, @macrosynergy/package-maintainers

adding helper functions
  macrosynergy/download/transaction_costs.py
Owners: @Magnus167, @macrosynergy/package-maintainers

removing old code
  macrosynergy/pnl/proxy_pnl_calc.py
Owners: @lsimonsen, @macrosynergy/package-maintainers

created `msm.pnl.transaction_costs`
  macrosynergy/pnl/transaction_costs.py
Owners: @lsimonsen, @macrosynergy/package-maintainers

using `get_sops` instead of `get_eops`
  macrosynergy/pnl/historic_portfolio_volatility.py
Owners: @lsimonsen, @macrosynergy/package-maintainers

Revert "using `get_sops` instead of `get_eops`"
  macrosynergy/pnl/historic_portfolio_volatility.py
Owners: @lsimonsen, @macrosynergy/package-maintainers

using get_sops instead of get_eops
  macrosynergy/pnl/historic_portfolio_volatility.py
Owners: @lsimonsen, @macrosynergy/package-maintainers

replacing
  macrosynergy/pnl/historic_portfolio_volatility.py
Owners: @lsimonsen, @macrosynergy/package-maintainers

renaming
  macrosynergy/download/transaction_costs.py
Owners: @Magnus167, @macrosynergy/package-maintainers

WIP
  macrosynergy/pnl/transaction_costs.py
Owners: @lsimonsen, @macrosynergy/package-maintainers

WIP
  macrosynergy/management/simulate/simulate_transaction_costs.py
Owners: @macrosynergy/package-maintainers

Raise warning when grid search fails
  macrosynergy/learning/signal_optimizer.py
Owners: @rushilg99, @macrosynergy/package-maintainers

Formula check in panel_calculator
  macrosynergy/panel/panel_calculator.py
  tests/unit/panel/test_panel_calculator.py
Owners: @macrosynergy/package-maintainers

added retraining pause. TODO check timestamps
  macrosynergy/learning/signal_optimizer.py
Owners: @rushilg99, @macrosynergy/package-maintainers

Add commit
  .github/scripts/new_run_notebooks.py
  .github/scripts/run_notebooks.py
Owners: @macrosynergy/package-maintainers

.github/CODEOWNERS:

* @macrosynergy/package-maintainers

/macrosynergy/pnl/* @lsimonsen @macrosynergy/package-maintainers
/macrosynergy/signal/* @macrosynergy/package-maintainers
/macrosynergy/panel/* @macrosynergy/package-maintainers

/docs/scripts/* @Magnus167 @macrosynergy/package-maintainers
/macrosynergy/download/* @Magnus167 @macrosynergy/package-maintainers
/macrosynergy/visuals/* @Magnus167 @macrosynergy/package-maintainers


/macrosynergy/learning/* @rushilg99 @macrosynergy/package-maintainers
