Repository macrosynergy/macrosynergy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @macrosynergy/package-maintainers, @rsueppel, @Magnus167, @rushilg99

.github/CODEOWNERS:

* @macrosynergy/package-maintainers

/macrosynergy/pnl/* @rsueppel  @macrosynergy/package-maintainers
/macrosynergy/signal/* @rsueppel  @macrosynergy/package-maintainers
/macrosynergy/panel/* @rsueppel  @macrosynergy/package-maintainers

/docs/scripts/* @Magnus167 @macrosynergy/package-maintainers
/macrosynergy/download/* @Magnus167 @macrosynergy/package-maintainers
/macrosynergy/visuals/* @Magnus167 @macrosynergy/package-maintainers


/macrosynergy/learning/* @rushilg99 @macrosynergy/package-maintainers

removing remanents of `Config` from msd.local
  macrosynergy/download/local.py
Owners: @Magnus167, @macrosynergy/package-maintainers

Everything works except, negative signs
  macrosynergy/signal/signal_return.py
Owners: @rsueppel, @macrosynergy/package-maintainers

added metrics to detect long bias in a model
  macrosynergy/learning/panel_timeseries_split.py
Owners: @rushilg99, @macrosynergy/package-maintainers

removed unnecessary enumerate
  macrosynergy/learning/panel_timeseries_split.py
Owners: @rushilg99, @macrosynergy/package-maintainers

added cache deleting API script
  .github/actions/clear-branch-cache/gh_cache_api.py
Owners: @macrosynergy/package-maintainers

added clear-branch-cache re-usable action
  .github/actions/clear-branch-cache/action.yml
Owners: @macrosynergy/package-maintainers

added clear-cache workflow
  .github/workflows/github-clear-branch-cache.yml
Owners: @macrosynergy/package-maintainers
